/*******************************************************************************
 * Themes
 ******************************************************************************/

 :root {
  --bg-color: #ffffff; /* White */
  --code-bg-color: #f5f5f5; /* Light Gray */
  --text-color: #333333; /* Dark Gray */
  --text-color-light: #666666; /* Light Gray */
  --theme-color: #2c3e50; /* Dark Blue */
  --hover-color: #2980b9; /* Blue */
  --hover-text-color: #ffffff; /* White */
  --footer-bg-color: #f2f2f2; /* Light Gray */
  --footer-text-color: #999999; /* Gray */
  --footer-link-color: #2c3e50; /* Dark Blue */
  --distill-app-color: #95a5a6; /* Gray */
  --divider-color: rgba(0, 0, 0, 0.1); /* Light Black */
  --card-bg-color: #ffffff; /* White */
  --highlight-color: #e74c3c; /* Red */

  --tip-block: #42b983; /* Green */
  --tip-block-bg: #e2f5ec; /* Light Green */
  --tip-block-text: #215d42; /* Dark Green */
  --tip-block-title: #359469; /* Another Green */
  --warning-block: #e7c000; /* Yellow */
  --warning-block-bg: #fff8d8; /* Light Yellow */
  --warning-block-text: #6b5900; /* Dark Yellow */
  --warning-block-title: #b29400; /* Another Yellow */
  --danger-block: #c0392b; /* Dark Red */
  --danger-block-bg: #ffe0e0; /* Light Red */
  --danger-block-text: #600; /* Dark Red */
  --danger-block-title: #c00; /* Another Dark Red */

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark,
  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --bg-color: #2c3e50; /* Dark Blue */
  --code-bg-color: #34495e; /* Dark Gray */
  --text-color: #ecf0f1; /* Light Gray */
  --text-color-light: #bdc3c7; /* Another Light Gray */
  --theme-color: #3498db; /* Blue */
  --hover-color: #2980b9; /* Blue */
  --hover-text-color: #ffffff; /* White */
  --footer-bg-color: #34495e; /* Dark Gray */
  --footer-text-color: #bdc3c7; /* Light Gray */
  --footer-link-color: #ffffff; /* White */
  --distill-app-color: #95a5a6; /* Gray */
  --divider-color: #424246; /* Dark Gray */
  --card-bg-color: #2c3e50; /* Dark Blue */

  --tip-block: #2ecc71; /* Green */
  --tip-block-bg: #2ecc71; /* Light Green */
  --tip-block-text: #ffffff; /* White */
  --tip-block-title: #27ae60; /* Another Green */
  --warning-block: #f39c12; /* Yellow */
  --warning-block-bg: #f9ebae; /* Light Yellow */
  --warning-block-text: #6b5900; /* Dark Yellow */
  --warning-block-title: #b29400; /* Another Yellow */
  --danger-block: #c0392b; /* Dark Red */
  --danger-block-bg: #ffe0e0; /* Light Red */
  --danger-block-text: #600; /* Dark Red */
  --danger-block-title: #c00; /* Another Dark Red */

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system,
  #light-toggle-light {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system,
  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
