---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'profile-image rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'profile-image rounded' %}
            {% endif %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class alt=profile.image %}
          {% endif %}

          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>

<style>
  .profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
</style>
